.picsum-img-wrapper img{
	width:1280px;
	height:600px;
}
.picsum-img-wrapper {
	margin-left:40px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width:204px!important;
	height:33px!important;
}