

<app-carousal></app-carousal>
<audio id="mainAudio" #mainaudio autoplay muted>
  <source src="../assets/we-wish-you-a-merry-christmas.mp3" type="audio/mpeg" preload="auto" >
</audio>
<div class="movingContent" >
<marquee direction = "left">Gift something this season to your loved ones!!!</marquee>
</div>
<div></div>
<div class="giftCard">
  <div class="card" style="width: 18rem;cursor: pointer;" *ngFor="let card of cards let i = index" >
  <img src= {{card.img}} class="card-img-top" alt="..." (click)="getProductDetail(i)" id="giftCard">
  <div class="card-body" >
    <h5 class="card-title">{{card.cardTitle}}</h5>
    <p>{{card.price}}</p>
    <app-rating [currentRate]="card.rating"></app-rating>
  </div>

</div>
   
	</div>

